  <header class="header black-bg">

    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <a href="/" class="logo"> <img src="/images/uic-logo-white.png" width="250"></a>


    <div class="top-menu">
      <form class="navbar-form navbar-right hidden-xs" form action="/logout"  >
        <ul class="nav pull-right top-menu ">
          <li><button style="margin-top:25px; margin-right:30px;" type="submit" class="btn btn-primary ">Log Out</button>
          </li>

        </ul>
      </form>
    </div>
  </header>