<!--page form.html in the nodeform folder in the current directory-->
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
 
<body>

<form action="./courseListAction" method="post" target="_blank">
<% for(var i=0; i<clist.length; i++) { %>
  <input type="radio" name="que" value=<%=clist[i].courses[0].ctext %> checked><%=clist[i].courses[0].ctext %>
<% } %>
<input type="submit" value="Submit">	
	
</ul>
</form>
</body>
</html>